/*
filename: [CHAN SIAW ZHENG]
author: [CHAN SIAW ZHENG]
created: [31/3/2020]
last modified: [4/4/2020]
description: [CSS styles of HTML Assignment enhancement.css, Design of the website]
*/

.directory {
	/* Set a directory used */
	background : lightgrey;
	padding :10px;
	font-size: 14px;
	
}

.directory a{
	margin-left: 10px;
}

.parallax2 {
    /* The bg used */
    background-color:white;

    /* Set a specific height */
    min-height: 80px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.procol-1 h1 {
	font-weight:bold;
	text-align: center;
	padding:10px;
}


.bio p {
	font-size : 20px;
	padding-left: 60px;
	padding-top:50px;
}

.bio ol {
	font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

.bio ul {
	font-size: 16px;
	padding: 10px;
}



@media screen and (max-width: 729px){

.bio p {
	padding-left:10px;;
}

}